<html>
	<head></head>
	  <body>
	  
	   <table class="table table-striped">
				 <thead>
            <tr>
              <th>child for Base: <%=base%></th>
            </tr>
          </thead>

					<%if(child.length>0){%>
					<% for(var i=0; i < child.length; i++) { %>
				
						<tr class="active">
							<td class="success"><%= child[i].child %></td>
						</tr>
						
						<% } } else {%>
						<tr class="active">
							<td class="success">No Child</td>
						</tr>
						<%}%>
						
				</table>

	  


</body>

</html>